footer {
    background-color: transparent;
    color: white;
    height: 100px;
    padding: 0px 140px;
    border-top: 2px solid var(--purple-bg-color);

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .year-creator {
            font-size: medium;
            font-weight: 500;
        }

        .poweredBy {
            font-size: medium;
            font-weight: 400;
        }

        span {
            color: var(--brand-color-orange);
        }
    }
}

@media(max-width: 850px) {
    footer {
        padding: 0px 20px;

        .footer-container {}
    }
}

@media(max-width: 310px) {
    footer {
        padding: 36px 0px;
        margin-bottom: 50px;

        .footer-container {
            flex-direction: column;
            gap: 40px;
        }
    }
}