main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 81.70%;
        gap: 100px;

        h2 {
            color: var(--font-color-orange);
            font-size: 36px;
            letter-spacing: 2px;
            font-family: var(--jolly-lodger);
            text-align: center;
        }

        .card-options {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 6px;
                border: 2px solid var(--purple-bg-color);
                border-radius: 12px;
                width: 260px;
                height: 240px;
                transition: .3s;



                p {
                    font-family: var(--roboto);
                    color: var(--font-color-orange);
                }

                .difficulty {
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--brand-color-paper);
                }

                .grid-setting {
                    font-size: 16px;
                }

                .description-level {
                    font-size: 14px;
                }
            }

            .card:hover,
            .card.selected-card {
                box-shadow: 0px 0px 40px var(--brand-color-orange);
                transform: translateY(-6px) scale(1.02);
                border-color: var(--brand-color-orange);
                cursor: pointer;
            }
        }

        button {
            padding: 16px 80px;
            font-size: 18px;
            background: linear-gradient(to right, #ff8730, #FF964B);
            color: var(--white);
            border: none;
            border-radius: 8px;
            transition: .3s;
        }

        button:hover {
            box-shadow: 0px 0px 20px var(--brand-color-orange);
            cursor: pointer;
            transform: translateY(-4px);
        }

        .rules-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 64px 0px;
            border: 2px solid var(--purple-bg-color);
            border-radius: 12px;
            width: 54%;
            height: 80%;

            h3 {
                font-family: var(--roboto);
                color: var(--brand-color-paper);
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 26px;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                height: 100%;
                width: 100%;

                li {
                    font-family: var(--roboto);
                    font-size: 20px;
                    color: var(--font-color-orange);
                    width: 80%;

                }
            }


        }
    }
}



@media(max-width: 576px) {

    main {
        .main-container {
            .card-options {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }

            .rules-container {
                width: 100%;
                height: 100%;
                padding: 36px 0px;

                h3 {
                    margin-bottom: 26px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    li {
                        width: 80%;
                    }
                }


            }

        }
    }

}

@media(min-width: 577px) and (max-width: 729px) {
    main {
        .main-container {
            .card-options {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }

            .rules-container {
                width: 100%;
                height: 100%;
                padding: 36px 0px;

                h3 {
                    margin-bottom: 26px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    li {
                        width: 80%;
                    }
                }


            }
        }
    }
}

@media(min-width: 730px) and (max-width: 992px) {
    main {
        .main-container {
            .card-options {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                justify-items: center;
                align-items: center;
            }

            .rules-container {
                width: 100%;
                height: 100%;
                padding: 36px 0px;

                h3 {
                    margin-bottom: 26px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    li {
                        width: 80%;
                    }
                }


            }
        }
    }
}